* {
  margin: 0;
  padding: 0;
}

.container_index {
  display: flex;
  width: auto;
  justify-content: center;
}

.container_grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 16px;
  padding-bottom: 32;
  margin: 16px 10%;
}

@media (max-width: 768px) {
  .container_grid {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 16px 5%;
  }
}
